LKIO_ENV=local

POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=54329
POSTGRES_DB=lkio
POSTGRES_USER=lkio
POSTGRES_PASSWORD=

LKIO_SOURCE_READ_ONLY=true
LKIO_ALLOW_WRITE_TO_SOURCE=false

LLM_PROVIDER=none
DECISION_ENGINE=none
